.admin-layout-main-container {
    overflow: scroll;
}

.admin-content {}

.upload_flow_container {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center;    /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    width: 100%;            /* Full width of the parent */
    max-width: 600px;       /* Maximum width for the container */
    margin: 0 auto;         /* Center the container itself */
    padding: 20px;          /* Add some padding */
    /* border: 1px solid #dee2e6; 
    border-radius: 8px;     
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);  */
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    box-sizing: border-box;
}

.header .logo {
    font-size: 24px;
    color: #6C00FF;
    font-weight: bold;
}

.header .logo span {
    display: block;
    font-size: 12px;
    color: #000000;
    font-weight: normal;
}

.header .buttons {
    display: flex;
    gap: 10px;
}

.header .buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.header .buttons .preview {
    background-color: #E0E0E0;
    color: #000000;
}

.header .buttons .save-draft {
    background-color: #E0E0E0;
    color: #000000;
}

.header .buttons .publish {
    background-color: #000000;
    color: #ffffff;
}

.upload-icon {
    width: 80px;
    height: 80px;
    background-color: #F5F0FF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    margin-bottom: 10px ;
}

.upload-icon i {
    font-size: 36px;
    color: #000000;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
}

.input-group input {
    padding: 10px;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    font-size: 14px;
}

.search-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    padding: 20px;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
}

.search-group .search-bar {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
}

.search-group .search-bar input {
    border: none;
    outline: none;
    font-size: 14px;
    flex-grow: 1;
}

.search-group .categories {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.search-group .categories .category {
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
}

.search-group .categories .category.active {
    background-color: #6C00FF;
    color: #ffffff;
}

.search-group .categories .category.inactive {
    background-color: #E0E0E0;
    color: #000000;
}

.next-button {
    padding: 10px 20px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    width: 53%;
}



/* Dashboard CSS  */

.dashboard-main-container {
    display: flex;
    /* height: 100vh; */
    margin: 0;
    flex-wrap: wrap;
}

.dashboard_stats_div {
    width: 200px;
    height: 100px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    color: white;
    position: relative;
    padding: 10px;
}
.dashboard_stats_div:nth-child(odd) {
    background: linear-gradient(135deg, #6e00ff, #a100ff); /* Gradient for odd items */
}

.dashboard_stats_div:nth-child(even) {
    background: linear-gradient(135deg, #333333, #666666); /* Gradient for even items */
}
.dashboard_stats_div .title {
    font-size: 14px;
    margin-bottom: 5px;
}
.dashboard_stats_div .value {
    font-size: 24px;
    font-weight: bold;
}
.dashboard_stats_div .icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 16px;
}

/* End Dashboard Page Css  */


/* UX FLOW DESIGN  */


.second_step_main_div{
    display: flex ;
    min-height: 100vh;
}
.second_step_left_div{
    padding: 20px ;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}

.app_name_container {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.app_icon {
    width: 40px;
    height: 40px;
    background-color: #d3d3d3;
    border-radius: 5px;
    margin-right: 10px;
}
.app_name {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    flex-grow: 1;
}
.edit_con {
    font-size: 16px;
    color: #333;
}
.mobile-web-view{
    display: flex ;
    padding: 3px;
    display: flex;
    border: 1px solid #BCBCBC;
    background-color: #F3F0F9;
    border-radius: 20px;
    justify-content: space-around;

}

.mobile-web-view div {
    padding: 3px;
    padding-left: 10px ;
    padding-right: 10px ;
    border-radius: 12px;
    cursor: pointer;
    
}

.mobile-web-view-active{
    background: #6C00FF;
    color: white;

}


.menu {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.menu-item {
    background-color: #ffffff;
    color: #000000;
    padding: 10px 20px;
    border-radius: 20px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}
.menu-item.active {
    background-color: #6e00ff;
    color: #ffffff;
}
.menu-item i {
    font-size: 12px;
}

.second_step_left_div,
.second_step_right_div{
  flex: 1 1 20%; /* Takes up 20% of the width */
  background-color: #f0f0f0; /* Optional: background for clarity */


}

.second_step_right_div{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.second_step_mid_div {
  flex: 1 1 60%; /* Takes up 60% of the width */
  padding: 20px ;
  background-color: #e0e0e0; /* Optional: background for clarity */
}


.uploaded-images {
    display: flex;
    flex-wrap: wrap;
}
.uploaded-images img {
    height: 320px  ;
    width: 150px ;
    margin: 10px ;
    border-radius: 10px ;

}


/* END UX FLOW DESIGN */



/*Landing Page CSS */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.header h1 {
    color: #6C00FF;
    font-size: 24px;
    margin: 0;
}
.header h1 span {
    font-weight: normal;
}
.header button {
    background-color: #E0E0E0;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.header button:hover {
    background-color: #D0D0D0;
}
.main {
    display: flex;
    height: 80vh ;
}
.sidebar {
    width: 30%;
    padding: 20px;
}
.sidebar .upload {
    background-color: #F0F0F0;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}


.sidebar .form-group {
    margin: 20px 0;
}
.sidebar .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}
.sidebar .form-group input,
.sidebar .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
}
.sidebar .toggle-group {
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.sidebar .toggle-group label {
    margin-right: 10px;
    color: #333;
}
.sidebar .toggle-group input[type="checkbox"] {
    display: none;
}
.sidebar .toggle-group .toggle {
    width: 40px;
    height: 20px;
    background-color: #E0E0E0;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}
.sidebar .toggle-group .toggle:before {
    content: '';
    width: 18px;
    height: 18px;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 1px;
    transition: all 0.3s;
}
.sidebar .toggle-group input[type="checkbox"]:checked + .toggle {
    background-color: #6C00FF;
}
.sidebar .toggle-group input[type="checkbox"]:checked + .toggle:before {
    left: 21px;
}
.sidebar .theme-group {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.sidebar .theme-group button {
    background-color: #E0E0E0;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}


.landing-upload-icon{
    padding-left: 30%;
}

.landing-page-upload{
    width: 100%;
    padding: 10px ;
    display: flex ;
    gap: 20px ;
    justify-content: space-between;
    height: 150px ;
}
.landing-page-upload .upload_icon_desktop {

    background-color: #DFDFDF;
    height: 130px ;
    width: 180px ;
    cursor: pointer;
    border-radius: 10px ;
    padding: 10px ;
    padding-top: 50px ;
}
.landing-page-upload .upload_icon_desktop img {

    margin-left: 55px ;
}
.landing-page-upload .upload_icon_mobile {

    background-color: #DFDFDF;
    height: 130px ;
    cursor: pointer;
    width: 60px ;
    border-radius: 10px ;
    padding: 10px ;
    padding-top: 50px ;
}
.elements  {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
.elements .element-div{
        padding: 2px 15px ;
        border: 1px solid #E9E9E9 ;
        border-radius: 15px;
        background-color: #EEEEEE ;
        cursor: pointer;
    
}
.delete-icon{
    cursor: pointer;
}
/*END Landing Page Css */