:root {
  --grey-text-color: #96989e;
  --grey-text-color-bcbcbc: #bcbcbc;
  --grey-3a3f: #3a3f49;
  --grey-222: #22242b;
  --color-9ea: #9ea1ab;
  --color-3fa: #3f4250;
  --color-131: #13151a;
  --text-aeaeae: #aeaeae;
}
a {
  display: inline-block;
}
body {
  color: white;
  font-family: "DM Sans";
}
h1,
h2 {
  line-height: 1.2;
}
.gradient-text {
  background: linear-gradient(89.42deg, #ffffff 0.22%, #747474 99.5%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.p_45 {
  padding: 45px 0;
}

.cta-white {
  background-color: #fff;
  color: #000;
  border-radius: 50px;
  padding: 8px 20px;
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
  display: inline-flex;
  border: 1px solid transparent;
}
.cta-white:hover {
  background: #13151a;
  color: #fff;
  border-color: #fff;
}

.cta-white:hover img {
  filter: invert(1);
}
.ux-flow-btn {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
h1 {
  font-size: 44px;
  font-weight: 600;
}
h2 {
  font-size: 32px;
  font-weight: 500;
}
h6 {
  font-size: 20px;
  font-weight: 400;
}
.fs-24 {
  font-size: 24px;
}

.fs-14 {
  font-size: 14px !important;
}

.fs-32 {
  font-size: 32px;
}

.fs-16 {
  font-size: 16px;
}

.white-text {
  color: white;
  font-weight: 300;
}

.bcbcbc-text {
  color: var(--grey-text-color-bcbcbc);
}

.bg222 {
  background-color: var(--grey-222);
}

.bg3fa {
  background-color: var(--color-3fa);
}

.aeaeae-text {
  color: var(--text-aeaeae);
}

.color9ea {
  color: var(--color-9ea) !important;
}

/* End Global Css  */

.main-header {
  height: 86px;
  background: var(--color-131);
  display: flex;
  justify-content: space-between;
  padding: 17px 30px;
  box-sizing: border-box;
  align-items: center;
  position: relative;
}

.header-actions {
  display: flex !important;
  gap: 60px;
}

.website-logo {
  font-size: 30px;
}

.get-pro-and-inspiration {
  display: flex;
  gap: 60px;
  align-items: center;
  font-size: 14px;
  position: relative;
}

.profile-image img {
  border-radius: 50px;
}

/* Home page css */

.home-content-main-div {
  display: flex;
  width: 100%;
}

.home-content-first-div {
  width: 300px;
}

.home-content-second-div {
  flex-grow: 1;
  background-color: #13151a;
}

.left-sidebar {
  width: 117px;
  background-color: var(--color-131);
  min-height: 100vh;
}


.left-icon a {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.left-icon-text {
  font-size: 14px !important;
  color: #8e8e8e;
  font-weight: 500;
  padding: 10px !important;
}

.homesection-1 {
  background-image: url("/icons/home_bg.png");
  background-size: cover;
  border-radius: 25px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-repeat: no-repeat;
  background-position: top left;
  background-color: #1b1d22;
}

.ux-flow-main-div {
  background: #13151a;
  padding: 50px 40px;
  margin: 0 20px;
  color: white;
  margin-bottom: 20px;
  position: relative;
  border-radius: 20px;
}
.right-side-div {
  background-color: #1b1d22;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
section.ux-flow-sec {
  background-color: #1b1d22;
  overflow: hidden;
}
.ux-flow-name-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
}

.product-image-footer-wrapper {
  padding: 15px;
}

.product-card-main-div,
.product-card-main-div-slider {
  background-color: #1e2129;
  height: 100%;
  border-radius: 20px;
}
.product-card-main-div {
  width: 32%;
}

.product-card-image {
  padding-bottom: 10px;
  width: 100%;
}

.brand-name {
  color: var(--grey-text-color);
}

.brand-heading-text {
  font-size: 2rem;
  font-weight: bold;
  display: inline-block;
  background: linear-gradient(89.42deg, #ffffff 0.22%, #747474 99.5%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ux-flow-count p:first-child {
  color: var(--grey-text-color);
  font-size: 17px;
}

.ux-flow-count p:nth-child(2) {
  color: white;
  font-size: 40px;
}

.search-bar {
  position: relative;
  width: 300px;
}

.search-bar i {
  position: absolute;
  top: 50%;
  left: 25px;
  transform: translateY(-50%);
  color: #616170;
}

.search-bar input {
  width: 100%;
  padding: 10px 10px 10px 45px;
  border-radius: 25px;
  outline: none;
  font-size: 16px;
  background-color: #1d1d24;
  font-weight: 400;
}

.sub-div-2 {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.plan-left-div * {
  color: var(--grey-text-color-bcbcbc) !important;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 10px 0;
}

ul li {
  margin: 5px 0;
}

.sub-div-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sub-main-heading {
  margin-bottom: 20px;
  text-align: center;
}

.subscription-heading {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}
.subbtn {
  padding: 10px 20px;
  border-radius: 25px;
  background-color: #4caf50;
  border: none;
  cursor: pointer;
}

.subbtn:hover {
  background-color: #45a049;
}

.white-text {
  color: #ffffff;
}

.section-3 {
  padding: 20px;
}

/* FAQ */

.faq-section-main-div {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  color: white;
}

.faq-header {
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 40px;
}

.faq-item {
  padding: 30px 25px;
  cursor: pointer;
  background-color: #1d1f26;
  margin-bottom: 12px;
  border-radius: 7px;
}

.faq-item:last-child {
  border-bottom: none;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  color: white;
}

.faq-toggle-symbol {
  font-size: 20px;
  font-weight: bold;
  color: white;
  margin-left: 10px;
}

.faq-answer {
  margin-top: 12px;
  font-size: 16px;
  color: white;
}

.faq-item.active .faq-question {
  color: white;
}

.faq-item.active .faq-toggle-symbol {
  color: white;
}

/* Dropdown */

.main-dd-div {
  padding: 14px;
  border: 1px solid #ffffff33;
  border-radius: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  background-color: #222;
  padding: 8px 24px;
  position: relative;
}

.dd-text {
  font-size: 16px;
  margin: 0;
}

.dd-icon {
  color: #ffffff;
  font-size: 16px;
}

.dd-border-text-icon {
  gap: 10px;
}

.filter-container {
  background-color: #1c1c1c;
  border-radius: 10px;
  padding: 20px;
  width: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.filter-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.filter-item:last-child {
  margin-bottom: 20px;
}

.filter-item input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  accent-color: #6a0dad;
}

.filter-item label {
  color: #b0b0b0;
  font-size: 16px;
}

.filter-item input[type="checkbox"]:checked + label {
  color: #ffffff;
}

.apply-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #f0f0f0;
  color: #000;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

/* END DROTPDOWN  */

.badge1,.filter-button {
  background-color: #1D1F26;
  color: #8E8E8E;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid #3A3C44;
}
.badge1:hover{
  color:#656565;
  background-color: #fff;
}

.landing-page-main-wrapper-right {
  background: var(--color-3fa);
  padding: 20px;
  border-radius: 30px;
  margin-right: 39p;
  min-height: 400px;
}


.filter-button i {
  margin-right: 8px;
}

/* End Home pag   */
/* footer css */
.linkedin-svg:hover,
.twitter-svg:hover,
.instagram-svg:hover {
  background-color: #fffffffc;
  cursor: pointer;
}

.foot-right {
  display: flex;
  justify-content: space-around;
}

.foot-list {
  position: relative;
}
.foot-list:not(:last-child)::after {
  content: "";
  position: absolute;
  height: 90px;
  width: 1px;
  background-color: #2a2b2d;
  top: 20px;
  right: -90px;
}
.foot-list ul li:not(:last-child) {
  padding-bottom: 15px;
}
.foot-left {
  max-width: 230px;
}
.foot-left p {
  font-weight: 300;
}
.social-links {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 15px;
}

.linkedin-svg,
.twitter-svg,
.instagram-svg {
  border: 1px solid #3a3c44;
  border-radius: 10px;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.foot-list li a {
  position: relative;
  text-decoration: none;
}

.foot-list li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #aeaeae;
  transition: width 0.3s ease;
}

.foot-list li a:hover::after {
  width: 100%;
}

.search-icon {
  position: absolute;
  left: 16px;
  top: 19%;
}
.get-inspi,
.get-pro,
.profile {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
a.getProBTN.get-pro.text-white {
  display: block;
  background: linear-gradient(92.27deg, #ffffff -16.31%, #b795ff 99.89%);
  padding: 8px 16px;
  border-radius: 12px;
  font-size: 14px;
  display: flex;
  gap: 6px;
  align-items: center;
}

.arrw-dwn-svg {
  position: absolute;
  right: -20px;
  top: 45%;
}
.banner-home p {
  max-width: 500px;
  font-size: 16px;
  margin: auto;
  padding-top: 20px;
}
.home-bnr-wrap {
  padding-top: 200px;
  padding-bottom: 250px;
}
.home-bnr-links ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
  margin: 0px;
}
.home-bnr-links ul::after,
.home-bnr-links ul::before {
  position: absolute;
  content: "";
  height: 1px;
  width: 28%;
}
.home-bnr-links ul::after {
  right: 0;
  background-image: linear-gradient(
    50deg,
    #373940 0%,
    rgba(32, 34, 37, 0) 100%
  );
}

.home-links {
  background-color: #1b1d22;
}

.home-bnr-links ul::before {
  left: 0;
  background-image: linear-gradient(
    90deg,
    rgba(32, 34, 37, 0) 0%,
    #373940 100%
  );
}

.home-bnr-links ul li a {
  border: 0.4px solid #ffffff33;
  background-color: #9ea1ab24;
  padding: 12px 25px;
  border-radius: 70px;
  color: var(--color-9ea);
}
.home-bnr-links ul li a:hover {
  background-color: #13151a;
  color: #fff;
}
.ux-flow-counts {
  gap: 60px !important;
}

.sub-plan-btns ul#pills-tab {
  justify-content: center;
}
.annual-month-box {
  display: flex;
  gap: 20px;
}
.free-box {
  width: 100%;
  max-width: 413px;
  background-color: #292c32;
  border-radius: 24px;
  padding: 40px 30px;
}
span.free-span-text {
  font-size: 24px;
  font-weight: 500;
}
.free-para {
  font-size: 14px;
  font-weight: 300;
  padding: 12px 0 20px 0;
}
.price-text {
  font-size: 32px;
  font-weight: 500;
}
.free-btn a {
  width: 100%;
  padding: 15px 0;
  text-align: center;
  background: #3a3f49;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 500;
  margin: 30px 0;
}
.free-btn a:hover {
  background-color: #5200ff;
}
.price-text span {
  font-size: 24px;
}
.free-list ul li {
  display: flex;
  align-items: center;
  gap: 15px;
}
.free-box.pro-box {
  background-color: #fff;
}
.annual-tab .free-box.pro-box {
  margin-top: 40px;
}
.free-box.pro-box * {
  color: #000;
}
.check {
  min-width: 20px;
}
.free-box.pro-box .free-btn a {
  color: #fff;
  background-color: #5200ff;
}
.free-box.pro-box .free-btn a:hover {
  background: #3a3f49;
}
.free-box.pro-box .check img {
  filter: invert(1);
}
.violet-color {
  color: #5200ff !important ;
}
.annual-month-box {
  margin-top: 45px;
}
.free-pro-tabs .nav-pills {
  background-color: #272a31;
  border-radius: 50px;
  max-width: 300px;
  margin: auto;
  padding: 4px;
}
.free-pro-tabs .nav-pills .nav-link {
  font-size: 14px;
  font-weight: 500;
  padding: 12px 42px;
  border-radius: 50px;
  color: #b3b3b3;
}
.free-pro-tabs .nav-pills .nav-link.active {
  background-color: #fff;
  color: #000;
}
.p_65 {
  padding: 65px 0;
}
.top-cards,
.bottom-cards {
  display: flex;
  gap:26px;
}
.row.top-cards {
  margin-bottom: 26px;
}
.product-card-image-landing img {
  width: 100%;
}
.foot-sec.section-3 {
  margin-top: 20px;
}
.foot-sec {
  background-repeat: no-repeat;
  background-position: top left;
  padding-top: 380px;
  background-size: cover;
}
.faq-sec {
  background-color: #13151a;
  border-radius: 20px;
  margin: 0 16px;
  padding: 83px 0;
}
.get-inspi-drop {
  /* opacity:0; */
  position: absolute;
  top: 70%;
  z-index: 1;
  max-width: 1100px;
  left: 0%;
  transform: translateX(50%);
  margin: auto;
  background-color: #1c1e24;
  border-radius: 20px;
  box-shadow: 0px 0px 24px 0px #000000a1;

}

.get-inspi-drop .row .inspi-row-col {
  padding: 35px 40px !important;
}
.get-inspi-drop .row .inspi-row-col:first-child {
  border-right: 1px solid #414141;
}
.inspi-row-left p {
  font-size: 14px;
  font-weight: 300;
  color: #bcbcbc;
  margin: 7px 0 20px 0;
}
.drop-cards img {
  border-radius: 9px;
  width: 100%;
}
.drop-row {
  gap: 20px 0;
}
.drop-row p {
  text-align: center;
  margin-top: 8px;
}
/* profile dropdown */
.profileSection {
  position: relative;
}
.profile-drpdwn {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #1c1e24;
  width: 295px;
  z-index: 1;
  border-radius: 20px;
  padding: 33px 26px;
  box-shadow: 0px 0px 24px 0px #000000a1;
}
.profile-drpdwn li {
  margin: 0;
  padding: 16px 0;
  border-bottom: 1px solid #313131;
}
.profile-drpdwn li a {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  font-size: 500;
}
.profile-drpdwn li:last-child {
  margin: 0;
}

.ux-slider-wrapper {
  width: 100%;
  max-width: 1500px;
}

.ux-slider .slick-slider {
  display: flex;
  flex-direction: row;
}

.ux-slider .slick-slide {
  display: flex !important; /* Ensures items are flex-aligned */
  margin: 0 15px;
}
.ux-slider .slick-list {
  overflow: visible !important;
}

.ux-slider .slick-slide > div {
  width: 100%;
}
.product-card-main-div-slider img {
  width: 100%;
}
.ux-slider-wrapper .slick-track {
  display: flex !important;
  margin: 0 -15px;
}
.ux-slider-wrapper {
  position: relative;
}
.uxflowbefore::before,
.ux-flw-wrp::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: -100%;
  background-color: #1b1d22;
  top: 0;
  z-index: 2;
}
.ux-slider-wrapper::before {
  background-color: #13151a;
  z-index: 1;
}

.drop-img-text {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.drop-img-text p {
  font-size: 16px;
  font-weight: 400;
  /* gap: 20px; */
}
.request-btn a {
  background-color: #fff;
  color: #000;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  padding: 6px 16px;
  border-radius: 6px;
  border: 1px solid transparent;
}
.request-btn {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 15px;
}
p.sign-out {
  padding-top: 20px;
  color: #616161;
}
.left-sidebar.home-content-first-div {
  width: 8%;
}

.right-content-main-div.home-content-second-div {
  width: 92%;
}
.request-btn a:hover {
  background-color: #13151a;
  color: #fff;
  border-color: #fff;
}
.request-btn a:hover img {
  filter: invert(1);
}
.product-card-image-landing {
  margin-bottom: 10px;
}
.flow-crds .product-card-main-div {
  max-width: 20% !important;
  justify-content:space-between;
}
.flow-crds{
  flex-wrap:wrap;
}
.header-actions {
  padding-right: 20px;
}
.page-main-heading-tab {
  align-items: center;
  justify-content: space-between;
}
.flw-tabs{
  padding: 40px 0;
}
.flw-tabs .nav {
  background-color: #1D1F26;
  /* width: 233px; */
  padding: 4px;
  border-radius: 50px;
  justify-content: center;
}
.flw-tabs .nav li button{
  font-size:16px;
  font-weight:500;
  color:#fff;
  padding:10px 36px;
  border-radius:50px;
  
}
.flw-tabs .nav li{
  margin:0;
}
.flw-tabs .nav-link.active{
  border-radius:50px;
  background-color:#13151A !important;
}
.flow-crds .product-card-main-div {
  background-color: transparent;
}
.right-content-main-div.home-content-second-div {
  width: 100%;
  padding-right: 20px;
}
.ux-all-filter-wrapper {
  display: flex;
  gap: 10px;
  margin: 40px 0;
}
.flow-crds img {
  width: 100%;
}
.left-icon a {
  position: relative;
}
.left-icon a::before{
  content:'';
  position:absolute;
  height:100px;
  width:100px;
  background-image:url("/images/bg-hover-img.png");
  background-repeat:no-repeat;
  left:15px;
  top:-15px;
  border-radius: 11px !important;
  opacity: 0;
  
}
.left-icon a:hover::before{
  opacity: 1;
}
.header-left-icons-div {
  padding-top:15px;
}
/* landing card page */
.landing-main-pge {
  background-color: #1B1D22;
  padding: 40px 0px;
  padding-bottom: 0;
  border-radius: 16px;
}
.landing-main-pge .filters-main-div , .landing-main-pge .ux-flow-products{
  padding:0 50px;
}
.right-content-main-div.home-content-second-div:has(.landing-main-pge) {
  padding: 0;
}
.lnding-drop-row {
  gap: 12px;
  padding-bottom:33px;
}
.lnding-drop{
  position: relative;
}
.dd-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
}
.landing-main-pge .ux-flow-btn {
  padding-bottom: 60px;
}
.landing-main-pge .product-card-main-div {
  padding: 0;
}
.ui-element-page-ul .nav-link {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 10px;
}
/* responsive css here ... */


@media (max-width:1300px) and (min-width:1200px){
  .left-sidebar.home-content-first-div {
    width: 15%;
  }
  .right-content-main-div.home-content-second-div {
    width: 85%;
  }
}



@media (max-width: 1599px) {
  .left-icon a::before{
    width: 90px;
    left: 10px;
  }
  .homesection-1 {
    background-size: unset;
    background-position: center;
  }
  .top-cards,
  .bottom-cards {
    gap: 16px;
  }
  .foot-list:not(:last-child)::after {
    right: -30px;
  }
  .home-bnr-wrap {
    padding-top: 170px;
    padding-bottom: 90px;
  }
  .left-sidebar.home-content-first-div {
    width: 10%;
  }
  .right-content-main-div.home-content-second-div {
    width: 90%;
  }
  .right-content-main-div.home-content-second-div:has(.flw-tabs){
    width: 100%;
  }
  .home-bnr-links ul::after,
  .home-bnr-links ul::before {
    width: 25%;
  }
  .foot-sec {
    padding-top: 270px;
  }
  .get-inspi-drop {
    max-width: 800px;
    transform: translateX(19%);
  }
  .profile-drpdwn {
    width: 280px;
  }
  .search-icon svg {
    height: 20px;
    width: 22px;
}
.search-icon {
  top: 25%;
}

}
@media (max-width: 1199px) {
  .homesection-1 {
    background-size: cover;
  }
  .home-bnr-links ul::after, .home-bnr-links ul::before {
    width: 17%;
}
.search-bar {
  position: relative;
  width: 250px;
}
.product-card-main-div {
  width: 48%;
}
.foot-list:not(:last-child)::after {
  right: -40px;
}
.footer-second-section .row .foot-col-first 
{
    width:30%; 
}
.footer-second-section .row .foot-col-second 
{
    width:70%;
}
.flw-tabs .flow-crds .product-card-main-div {
  max-width: 25% !important;

}
.left-icon a::before{
  width: 83px;
  left: 0;
}
.left-icon-text{
  font-size: 12px !important;
}
.ux-main-filter-div {
  min-width: 110px;
}
}
@media screen and (max-width: 991px){
  body{
    font-size: 14px;
  }
  .left-sidebar {
    display: none;
  }
  .right-content-main-div.home-content-second-div {
    width: 100%;
}
.home-bnr-links ul::after, .home-bnr-links ul::before {
  width: 9%;
}
.website-logo {
  font-size: 25px;
}
.main-header {
  padding: 17px 20px;
}
.search-bar {
  width: 200px;
}
.search-bar input {
  padding: 8px 10px 8px 30px;
  font-size: 14px;
}
.search-icon {
left:7px;
}
.search-icon svg {
  height: 17px;
  width: 18px;
}
.header-actions {
  gap: 30px;
}
.get-pro-and-inspiration {
  gap: 45px;
}
.header-actions {
  padding-right: 20px;
}
  .arrw-dwn-svg svg {
  height: 10px;
  width: 12px;
}
.getProBTN.get-inspi .arrw-dwn-svg {
  right: -17px;
  top: 32%;
}
.get-inspi-drop {
  max-width: 600px;
  transform: translateX(8%);
}
.get-inspi-drop .row .inspi-row-col {
  padding: 20px 30px !important;
}
.cta-white {
  padding: 8px 15px;
  font-size: 14px;
}
.home-bnr-wrap {
  padding-top: 120px;
  padding-bottom: 60px;
}
h1 {
  font-size: 38px;
}
.ux-flow-count p:nth-child(2) {
  font-size: 30px;
}
.p_65 {
  padding: 50px 0;
}
.free-btn a {
  margin: 20px 0;
}
.free-para {
  padding: 8px 0 10px 0;
}
.free-list ul li {
 align-items: baseline;
}
.faq-item {
  padding: 18px 20px;
}
.faq-sec {
  padding: 60px 0;
}
.foot-sec {
  background-size: contain;
}
.foot-sec {
  padding-top: 180px;
}
.linkedin-svg, .twitter-svg, .instagram-svg {
  height: 45px;
  width: 45px;
}
.linkedin-svg svg, .twitter-svg svg, .instagram-svg svg {
  height: 20px;
  width: 20px;
}
.right-content-main-div.home-content-second-div:has(.flw-tabs){
  padding-left: 20px;
}
.ux-all-filter-wrapper{
  margin: 30px 0;
}

}
@media screen and (max-width:767px){
  .website-logo {
    font-size: 18px;
  }
  .search-bar input {
    padding: 7px 6px 7px 20px;
    font-size: 10px;
}
.search-icon svg {
  height: 13px;
  width: 12px;
}
.search-bar {
  width: 150px;
}
.header-actions {
  gap: 15px;
}
.get-pro-and-inspiration {
  gap: 30px;
}
a.getProBTN.get-pro.text-white {
  padding: 6px 10px;
}
.get-pro-and-inspiration , a.getProBTN.get-pro.text-white {
  font-size: 12px;
}
h1 {
  font-size: 30px;
}
.banner-home p {
  max-width: 400px;
  font-size: 14px;
  padding-top: 10px;
}
.home-bnr-wrap {
  padding-top: 100px;
  padding-bottom: 40px;
}
.home-bnr-links ul li a {
  padding: 10px 20px;
}
.home-bnr-links ul li a {
  font-size: 13px;
}
.p_45 {
  padding: 30px 0;
}
.get-inspi-drop {
  max-width: 500px;
}
.get-inspi-drop .row .inspi-row-col {
  padding: 20px 23px !important;
}
.cta-white {
  padding: 7px 12px;
  font-size: 13px;
}
.inspi-row-left p {
  font-size: 13px;
}
.ux-flow-main-div{
  margin: 0 10px;
  padding: 40px 25px;
}
h2 {
  font-size: 25px;
}
.free-btn a {
  margin: 16px 0;
  font-size: 15px;
}
.free-box {
  max-width: 413px;
  padding: 20px;
}
.price-text {
  font-size: 25px;
}
.free-list ul li {
  gap: 4px;
}

.foot-right {
  justify-content: space-between;
}
.linkedin-svg svg, .twitter-svg svg, .instagram-svg svg {
  height: 15px;
  width: 15px;
}
.linkedin-svg, .twitter-svg, .instagram-svg {
  height: 40px;
  width: 40px;
}
.foot-list ul li:not(:last-child) {
  padding-bottom: 10px;
}
.foot-sec {
  background-size: cover;
  padding-top: 100px;
}
.footer-second-section .row {
  flex-direction: column;
  gap: 20px;
}
.footer-second-section .row .foot-col-first {
  width: 100%;
}
.footer-second-section .row .foot-col-second {
  width: 100%;
}
.foot-list:not(:last-child)::after {
  right: -58px;
}
.foot-left {
  max-width: 100%;
}
.foot-sec {
  background-size: contain;
  padding-top: 170px;
}.foot-sec.section-3 {
  margin-top: 20px;
  background-color: #13151a;
}
.foot-sec.section-3 {
  background-color: #13151a;
}

.flw-tabs .flow-crds .product-card-main-div {
  max-width: 33% !important;
}
.badge1, .filter-button , .flw-tabs .nav li button{
  font-size: 14px;
}
.lnding-drop-row{
  flex-wrap: wrap;
}

.landing-main-pge .filters-main-div, .landing-main-pge .ux-flow-products {
  padding: 0 30px;
}
}

@media screen and (max-width:575px){
  .product-card-main-div , .flw-tabs .flow-crds .product-card-main-div{
    width: 100%;
  }
  h1 {
    font-size: 27px;
}
.banner-home p {
    font-size: 13px;
}
.home-bnr-links ul , .ux-flow-name-div , .annual-month-box{
    flex-wrap: wrap;
    gap: 20px;
}
.free-pro-tabs .nav-pills .nav-link {
  padding: 12px 35px;
}
.faq-sec {
  border-radius: 10px;
  margin: 0 10px;
  padding: 60px 0;
}
.faq-item {
  padding: 15px 15px;
}
.faq-question {
  font-size: 15px;
}
.foot-sec {
  padding-top: 110px;
}
.foot-right {
  flex-wrap: wrap;
}
.foot-right >div{
  width: 100%;
}
.subscription-heading {
  font-size: 25px;
}
.ux-flow-main-div {
  margin-bottom: 12px;
}
.home-bnr-links ul li , .home-bnr-links ul li a {
  width: 100%;
  text-align:center;
}
.home-bnr-links ul::after, .home-bnr-links ul::before {
display: none;
}
.home-bnr-links ul {
  gap: 10px;
}
.home-bnr-wrap {
  padding-top: 111px;
  padding-bottom: 50px;
}
.ux-flow-count p:nth-child(2) {
  font-size: 27px;
}
.ux-flow-count p:first-child {
  font-size: 15px;
}
.main-header{
  height: 100%;
  flex-wrap: wrap;
  padding: 17px 15px;
  gap: 15px;
}
.profile-image img {
  height: 30px;
  width: 30px;
}
.header-actions {
  gap: 28px;
}
.header-actions {
  gap: 34px;
}
.search-icon {
  left: 6px;
}
.get-inspi-drop {
  max-width: 100%;
  top: 100%;
  transform: translateX(0%);
}
.foot-list:not(:last-child)::after {
  display: none;
}
.ux-all-filter-wrapper{
  flex-wrap: wrap;
}
.ux-all-filter-wrapper > div , .ux-main-filter-div button{
  max-width: 100%;
  width: 100%;
}
.badge1, .filter-button{
  width: 100%;
  text-align: center;
  cursor: pointer;
}
.flw-tabs .flow-crds .product-card-main-div{
  max-width: 100% !important;
}
.page-main-heading-tab{
  flex-wrap: wrap;
  gap: 15px;
}
.flw-tabs .nav li button{
  padding: 10px 32px;
}
.flw-tabs {
  padding: 15px 0;
}
.lnding-drop{
  width: 100%;
}
.lnding-drop > div{
  justify-content: center;
}
}

